{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block content %}
    <h2>About Me</h2>
    <p>I'm a Computer Scientist, still navigating the tech sea by the compass of the forgotten <a href="https://phrack.org/issues/7/3">Hacker Manifesto</a>. These days, you'll find me surfing the AI wave, trying to build something economically viable.</p>
    <h2>About this site</h2>
    <p>I vibe-coded this static website from scratch in Python. My main goal was to create a simple, LLM-friendly way to write and read blog posts. I found other options a bit bloated and not quite what I was looking for, so I decided to make my own - feel free to fork it! Now, I can vibe-code and vibe-blog in a safe place!</p>
    <p>This blog is where I share my ideas, experiments, and document some of my experiences. Do you want to interact with me? Drop me an <a href="mailto:{{ author_email }}">email</a>!</p>
{% endblock %} 